<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>

<body>
    <div class="mainContainer">
        <div class="mainHeading">
            <h1>Altering category</h1>
        </div>
        <% if (typeof(color)!='undefined' ) { %>
            <%- color%>
                <%- message %>
                    <%- "</div>" %>
                        <%} else { %>
                            <% } %>
        <div class="container containerChangePassword" id="container">
            <div class="loginForm">
                <form action="/auth/addCategory" method="post">
                    <h1 class="mb-5">Add a category</h1>
                    <input name="name" type="text" placeholder="Category Name" />
                    <input type="text" name="desc" id="desc" placeholder="Describe item">
                    <button>Add category</button>
                </form>
            </div>
        </div>

    </div>
    <script src="/index.js"></script>
</body>

</html>