<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>

<body>
    <div class="mainContainer">
        <div class="mainHeading">
            <h1>Updating password</h1>
        </div>
        <% if (typeof(color)!='undefined' ) { %>
            <%- color%>
                <%- message %>
                    <%- "</div>" %>
                        <%} else { %>
                            <% } %>
        <div class="container containerChangePassword" id="container">
            <div class="loginForm">
                <form action="/auth/changepassword" method="post">
                    <h1 class="mb-5">Change Password</h1>
                    <input name="email" type="email" placeholder="Email" />
                    <input name="oldpassword" type="password" placeholder="Old Password" />
                    <input name="newpassword" type="password" placeholder="New Password" />
                    <button>Change Password</button>
                </form>
            </div>
        </div>
       

    </div>
    <script src="/index.js"></script>
</body>

</html>