<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>Home</title>
</head>

<body>
    <% if (typeof(color)!='undefined' ) { %>
        <%- color%>
            <%- message %>
                <%- `</div>` %>
                    <%} else { %>
                        <% } %>

                            <div class="container container-height-increased" id="container">
                                <div class="addCategory"><a href="/addCategoryPage">+ Add category</a></div>
                                <div class="mainH2">
                                    <h2>Categories</h2>

                                    <div class="contentContainer contentContainerWidth">
                                        <div class="itemCard">
                                            <a
                                                href="/Restaurant_Review-g304553-d10505761-Reviews-La_Uppu-Mysuru_Mysore_Mysore_District_Karnataka.html">
                                                <div class="lqzIz w">
                                                    <img src="https://media-cdn.tripadvisor.com/media/photo-s/17/9d/80/e6/dinner-buffet.jpg" style="height: 100%; width: 100%; object-fit: cover;">
                                                </div>
                                            </a>
                                            <div class="gbprQ">
                                                <a href="/Restaurant_Review-g304553-d10505761-Reviews-La_Uppu-Mysuru_Mysore_Mysore_District_Karnataka.html"
                                                    class="bMXqX">La Uppu</a>
                                                <a
                                                    href="/Restaurant_Review-g304553-d10505761-Reviews-La_Uppu-Mysuru_Mysore_Mysore_District_Karnataka.html">
                                                </a>
                                                <div class="VrsrG Ci S2 H2 f">
                                                    <span class="ecRGO o W q">Indian,Southwestern, Asian</span>
                                                    <span class="eoksp"></span>
                                                    <span class="fmSAt">₹₹₹₹</span>
                                                </div>
                                                <a
                                                    href="/Restaurant_Review-g304553-d10505761-Reviews-La_Uppu-Mysuru_Mysore_Mysore_District_Karnataka.html">
                                                    <div class="eOAgm">
                                                        <button
                                                            class="fGwNR _G B- z _S c Wc ddFHE ezIjy cXnEL bXBfK"
                                                            type="button">Order Online</button>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="itemCard">
                                            <a
                                                href="/Restaurant_Review-g304553-d10505761-Reviews-La_Uppu-Mysuru_Mysore_Mysore_District_Karnataka.html">
                                                <div class="lqzIz w">
                                                    <img src="https://media-cdn.tripadvisor.com/media/photo-s/17/9d/80/e6/dinner-buffet.jpg" style="height: 100%; width: 100%; object-fit: cover;">
                                                </div>
                                            </a>
                                            <div class="gbprQ">
                                                <a href="/Restaurant_Review-g304553-d10505761-Reviews-La_Uppu-Mysuru_Mysore_Mysore_District_Karnataka.html"
                                                    class="bMXqX">La Uppu</a>
                                                <a
                                                    href="/Restaurant_Review-g304553-d10505761-Reviews-La_Uppu-Mysuru_Mysore_Mysore_District_Karnataka.html">
                                                </a>
                                                <div class="VrsrG Ci S2 H2 f">
                                                    <span class="ecRGO o W q">Indian,Southwestern, Asian</span>
                                                    <span class="eoksp"></span>
                                                    <span class="fmSAt">₹₹₹₹</span>
                                                </div>
                                                <a
                                                    href="/Restaurant_Review-g304553-d10505761-Reviews-La_Uppu-Mysuru_Mysore_Mysore_District_Karnataka.html">
                                                    <div class="eOAgm">
                                                        <button
                                                            class="fGwNR _G B- z _S c Wc ddFHE ezIjy cXnEL bXBfK"
                                                            type="button">Order Online</button>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="itemCard">
                                            <a
                                                href="/Restaurant_Review-g304553-d10505761-Reviews-La_Uppu-Mysuru_Mysore_Mysore_District_Karnataka.html">
                                                <div class="lqzIz w">
                                                    <img src="https://media-cdn.tripadvisor.com/media/photo-s/17/9d/80/e6/dinner-buffet.jpg" style="height: 100%; width: 100%; object-fit: cover;">
                                                </div>
                                            </a>
                                            <div class="gbprQ">
                                                <a href="/Restaurant_Review-g304553-d10505761-Reviews-La_Uppu-Mysuru_Mysore_Mysore_District_Karnataka.html"
                                                    class="bMXqX">La Uppu</a>
                                                <a
                                                    href="/Restaurant_Review-g304553-d10505761-Reviews-La_Uppu-Mysuru_Mysore_Mysore_District_Karnataka.html">
                                                </a>
                                                <div class="VrsrG Ci S2 H2 f">
                                                    <span class="ecRGO o W q">Indian,Southwestern, Asian</span>
                                                    <span class="eoksp"></span>
                                                    <span class="fmSAt">₹₹₹₹</span>
                                                </div>
                                                <a
                                                    href="/Restaurant_Review-g304553-d10505761-Reviews-La_Uppu-Mysuru_Mysore_Mysore_District_Karnataka.html">
                                                    <div class="eOAgm">
                                                        <button
                                                            class="fGwNR _G B- z _S c Wc ddFHE ezIjy cXnEL bXBfK"
                                                            type="button">Order Online</button>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="itemCard">
                                            <a
                                                href="/Restaurant_Review-g304553-d10505761-Reviews-La_Uppu-Mysuru_Mysore_Mysore_District_Karnataka.html">
                                                <div class="lqzIz w">
                                                    <img src="https://media-cdn.tripadvisor.com/media/photo-s/17/9d/80/e6/dinner-buffet.jpg" style="height: 100%; width: 100%; object-fit: cover;">
                                                </div>
                                            </a>
                                            <div class="gbprQ">
                                                <a href="/Restaurant_Review-g304553-d10505761-Reviews-La_Uppu-Mysuru_Mysore_Mysore_District_Karnataka.html"
                                                    class="bMXqX">La Uppu</a>
                                                <a
                                                    href="/Restaurant_Review-g304553-d10505761-Reviews-La_Uppu-Mysuru_Mysore_Mysore_District_Karnataka.html">
                                                </a>
                                                <div class="VrsrG Ci S2 H2 f">
                                                    <span class="ecRGO o W q">Indian,Southwestern, Asian</span>
                                                    <span class="eoksp"></span>
                                                    <span class="fmSAt">₹₹₹₹</span>
                                                </div>
                                                <a
                                                    href="/Restaurant_Review-g304553-d10505761-Reviews-La_Uppu-Mysuru_Mysore_Mysore_District_Karnataka.html">
                                                    <div class="eOAgm">
                                                        <button
                                                            class="fGwNR _G B- z _S c Wc ddFHE ezIjy cXnEL bXBfK"
                                                            type="button">Order Online</button>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="itemCard">
                                            <a
                                                href="/Restaurant_Review-g304553-d10505761-Reviews-La_Uppu-Mysuru_Mysore_Mysore_District_Karnataka.html">
                                                <div class="lqzIz w">
                                                    <img src="https://media-cdn.tripadvisor.com/media/photo-s/17/9d/80/e6/dinner-buffet.jpg" style="height: 100%; width: 100%; object-fit: cover;">
                                                </div>
                                            </a>
                                            <div class="gbprQ">
                                                <a href="/Restaurant_Review-g304553-d10505761-Reviews-La_Uppu-Mysuru_Mysore_Mysore_District_Karnataka.html"
                                                    class="bMXqX">La Uppu</a>
                                                <a
                                                    href="/Restaurant_Review-g304553-d10505761-Reviews-La_Uppu-Mysuru_Mysore_Mysore_District_Karnataka.html">
                                                </a>
                                                <div class="VrsrG Ci S2 H2 f">
                                                    <span class="ecRGO o W q">Indian,Southwestern, Asian</span>
                                                    <span class="eoksp"></span>
                                                    <span class="fmSAt">₹₹₹₹</span>
                                                </div>
                                                <a
                                                    href="/Restaurant_Review-g304553-d10505761-Reviews-La_Uppu-Mysuru_Mysore_Mysore_District_Karnataka.html">
                                                    <div class="eOAgm">
                                                        <button
                                                            class="fGwNR _G B- z _S c Wc ddFHE ezIjy cXnEL bXBfK"
                                                            type="button">Order Online</button>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="itemCard">
                                            <a
                                                href="/Restaurant_Review-g304553-d10505761-Reviews-La_Uppu-Mysuru_Mysore_Mysore_District_Karnataka.html">
                                                <div class="lqzIz w">
                                                    <img src="https://media-cdn.tripadvisor.com/media/photo-s/17/9d/80/e6/dinner-buffet.jpg" style="height: 100%; width: 100%; object-fit: cover;">
                                                </div>
                                            </a>
                                            <div class="gbprQ">
                                                <a href="/Restaurant_Review-g304553-d10505761-Reviews-La_Uppu-Mysuru_Mysore_Mysore_District_Karnataka.html"
                                                    class="bMXqX">La Uppu</a>
                                                <a
                                                    href="/Restaurant_Review-g304553-d10505761-Reviews-La_Uppu-Mysuru_Mysore_Mysore_District_Karnataka.html">
                                                </a>
                                                <div class="VrsrG Ci S2 H2 f">
                                                    <span class="ecRGO o W q">Indian,Southwestern, Asian</span>
                                                    <span class="eoksp"></span>
                                                    <span class="fmSAt">₹₹₹₹</span>
                                                </div>
                                                <a
                                                    href="/Restaurant_Review-g304553-d10505761-Reviews-La_Uppu-Mysuru_Mysore_Mysore_District_Karnataka.html">
                                                    <div class="eOAgm">
                                                        <button
                                                            class="fGwNR _G B- z _S c Wc ddFHE ezIjy cXnEL bXBfK"
                                                            type="button">Order Online</button>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <script src="/index.js"></script>

</body>

</html>