<nav>
    <ul class="pages">
        <li><a href="/">Home</a></li>
        <li><a href="#">About</a></li>

    </ul>
    <ul class="authBtn">
        <li><a href="/register">Resister</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
</nav>